<img src="<%= @pic.source %>" width="720">


<p><%= @pic.caption %></p>

<a href="http://localhost:3000/photos">Back</a>
<a href="http://localhost:3000/photos/<%= @pic.id %>/edit">Edit</a>
<a href="http://localhost:3000/delete_photo/<%= @pic.id %>">Delete</a>
